* {
  margin: 0;
  padding: 0;
}

#root {
  background-image: url(./images/pexels-sabrina-gelbart-249798.jpg);
  display: flex;
  justify-content: center;
}

.App {
  width: 85%;
  height: fit-content;
  background-color: black;
  min-height: 100vh;
  color: #F0F7EE;
  font-family: 'Montserrat', sans-serif;
  display: flex;
}

.light-mode {
  background-color: #F0F7EE;
  color: black;
}

.bigger-container {
  width: 100%;
}

.top-bar {
  height: 8vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.home-button {
  text-decoration: none;
  color: #F0F7EE;
  background-color: #5D737E;
  padding: 8px;
  border-radius: 10px;
}

.side-bar {
  width: 400px;
  border-right: 1px solid #F0F7EE;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5D737E;
}

.contact {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.contact a {
  color: #F0F7EE;
  font-size: 30px;
  padding: 10px;
}

.contact p {
  margin: 0;
}

.contact a:hover,
.main-links:hover,
.project-info a:hover,
.home-button:hover {
  color: gold;
}

.picture-links-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
}

.picture-links-container img {
  width: 130px;
  border-radius: 100%;
}

.links {
  padding-top: 15px;
}

.main-links {
  text-decoration: none;
  font-size: 130px;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 92vh;
  height: min-content;
}

.main-links-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.projects-container {
  width: 100%;
  min-height: 92vh; 
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.project-picture {
  max-width: 300px;
  max-height: 200px;
  border-radius: 10px;
  border: 2px solid #F0F7EE;
}

.project-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  border-radius: 10px;
}

.project-container:hover {
  box-shadow: 2px 2px 10px #0D6EFD;
}

.project-info {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.project-info a {
  text-decoration: none;
  color: #0D6EFD;
}

.about-me-container {
  width: 100%;
  height: 92vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map-cert-container {
  display: flex;
  width: 100%;
  margin-top: 100px;
}

.map {
  border-radius: 10px;
}

.map-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.certificates-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-about-me {
  width: 100%;
  font-size: larger;
  margin-top: 100px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-about-me a, .certificates-container a {
  text-decoration: none;
  color: #2fc18c;
}

.text-about-me a:hover, .certificates-container a:hover {
  color: #036b52;
}

.text-about-me p {
  margin-top: 20px;
  max-width: 820px;
  padding: 0px 20px;
}

.skills-container {
  width: 100%;
  display: flex;
}

.skills-block {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skills-block h1, .certificates-container h1 {
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .main-links {
    font-size: 50px;
  }

  #root {
    min-height: 100vh;
    height: fit-content;
    flex-direction: column;
  }

  .App {
    width: 100%;
    min-height: 0;
    height: fit-content;
    flex-direction: column;
    font-size: x-small;
    justify-content: center;
  }

  .side-bar {
    width: 100%;
    border: none;
  }

  .contact {
    width: 100%;
    flex-direction: row;
    height: fit-content;
    align-items: center;
    justify-content: space-around;
  }

  .picture-links-container img {
    width: 75px;
  }

  .main-container {
    min-width: fit-content;
    min-height: 0;
    min-height: 400px;
    height: fit-content;
  }

  .projects-container {
    min-height: 0;
  }

  .project-container {
    width: 300px;
    justify-content: center;
  }

  .project-picture {
    max-width: 200px;
  }

  .project-info {
    width: 200px;
    padding-top: 15px;
  }

  .project-info h1, .about-me-container h1, .skills-container h1 {
    font-size: 20px;
  }

  .about-me-container {
    height: 100%;
    flex-direction: column;
    margin-top: 0;
  }

  .map-cert-container {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .text-about-me {
    width: 300px;
    margin-top: 20px;
  }

  .certificates-container {
    width: 100%;
    margin-top: 20px;
  }

  .map-container {
    margin: 20px 0px;
  }

  .skills-container {
    flex-direction: column;
    align-items: center;
  }

  .skills-block {
    width: 300px;
  }
}